.editableText {
  display: flex;
  align-items: center;
}

.displayContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.editContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.editInput {
  //   padding: 4px;
  font-size: 1.25rem;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid var(--ui-light-grey);
  background: none;
  outline: none;
  color: inherit;
}
