.selectors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 2rem;

  .selectRow {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;

    .screenReaderOnly {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    span {
      width: 10%;
      display: flex;
      justify-content: center;
    }

    select {
      display: flex;

      border-radius: var(--primary-border-radius);
      background: var(--overlay-light-color);
      color: var(--text-primary-color);

      flex-grow: 1;
      max-width: 90%;
      margin-left: auto;
      border: 1px solid var(--ui-light-grey);
      padding: var(--spacing-16);
    }
  }
}
