.chatContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    border: 1px dashed green;
    display: flex;
    flex-direction: column-reverse;

    overflow: hidden;
}

.chatInputContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    background-color: #33333355;
    height: 40px;

}

.chatInput {
    flex-grow: 1;
    border: none;
    resize: none;
    outline: none;
    font-size: 14px;
    background: none;
    color: #ffffff;
}

.sendButton {
    border: none;
    background: none;
    color: #ffffffaa;
    cursor: pointer;
    font-size: 14px;
}

.sendButton:hover {
    /* background-color: #0056b3; */
    color: #ffffffff
}

.closeChatButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #ffffffaa;
    padding: 5px;
    border-radius: 5px;
}

.closeChatButton:hover {
    color: #ffffffff
}


/* Chat Messages */
.allChatsContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    mask-image: linear-gradient(0deg, rgb(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgb(0, 0, 0, 0) 100%);
}

.chatMessageContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-self: start;
}

.myMessage {
    align-self: end;
    background-color: #ffffff33;
}

.chatSenderName {
    font-weight: bold;
    color: #fff;
}

.chatMessage {
    color: #ffffff;
}