.resizablePanel {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%;
    margin: 0 auto; /* Center if needed */
    background-color: #ababab;
  }
  
  .resizeHandle {
    height: 10px;
    background-color: #888;
    cursor: row-resize;
  }
  
  .panelContent {
    flex-grow: 1;
    padding: 10px;
    overflow: auto;
  }