.resizablePanel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto; /* Center if needed */
    background-color: var(--background-color);
    /* color: var(--ui-dark-grey); */
  }

  .horizontal {
    flex-direction: row-reverse;
  }
  
  .resizeHandle {
    height: 10px;
    background-color: var(--ui-dark-grey);
    cursor: row-resize;
  }

  .resizeHandleHorizontal {
    width: 10px;
    background-color: var(--ui-dark-grey);
    height: auto;
    cursor: col-resize;
  }
  
  .panelContent {
    flex-grow: 1;
    padding: 10px;
    overflow: auto;
  }