@import 'tailwindcss';
@import "tw-animate-css";

@font-face {
  font-family: "Replica Std";
  src: url("https://backend.sheepdog.work/storage/v1/object/public/assets/fonts/ReplicaStdRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Replica Std";
  src: url("https://backend.sheepdog.work/storage/v1/object/public/assets/fonts/ReplicaStdBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Replica Std";
  src: url("https://backend.sheepdog.work/storage/v1/object/public/assets/fonts/ReplicaStd-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Replica Std";
  src: url("https://backend.sheepdog.work/storage/v1/object/public/assets/fonts/ReplicaStd-Heavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Replica Std";
  src: url("https://backend.sheepdog.work/storage/v1/object/public/assets/fonts/ReplicaStd-Light.otf") format("opentype");
  font-weight: 250;
  font-style: normal;
}

:root {
  --main-font-family: "Replica Std", sans-serif;
  --radius: 0.35rem;
  --background: var(--background-color);
  --foreground: var(--text-primary-color);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--ui-dark-grey);
  --primary-foreground: var(--text-primary-color);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: var(--text-secondary-color);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--text-primary-color);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--text-secondary-color);
  --input: var(--ui-dark-grey);
  --ring: #b3b3b3ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {

  html,
  body {
    min-height: 100vh;
    max-width: 100vw;
  }

  body {
    @apply bg-background text-foreground;
  }
}