@import 'tailwindcss';

@font-face {
  font-family: "Replica Std";
  src: url("https://backend.sheepdog.work/storage/v1/object/public/assets/fonts/ReplicaStdRegular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Replica Std";
  src: url("https://backend.sheepdog.work/storage/v1/object/public/assets/fonts/ReplicaStdBold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Replica Std";
  src: url("https://backend.sheepdog.work/storage/v1/object/public/assets/fonts/ReplicaStd-Italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Replica Std";
  src: url("https://backend.sheepdog.work/storage/v1/object/public/assets/fonts/ReplicaStd-Heavy.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Replica Std";
  src: url("https://backend.sheepdog.work/storage/v1/object/public/assets/fonts/ReplicaStd-Light.otf")
    format("opentype");
  font-weight: 250;
  font-style: normal;
}

:root {
  --main-font-family: "Replica Std", sans-serif;
}
