@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --text-primary-color: #f3f3f3;
  --text-secondary-color: #b3b3b3;
  --text-tertiary-color: #303030;

  --background-color: #000000;

  --overlay-heavy-color: rgba(0, 0, 0, 0.7);
  --overlay-light-color: rgba(0, 0, 0, 0.5);

  --ui-dark-grey: #272727;
  --ui-grey:#b3b3b3;
  --ui-light-grey: #e0e0e0;
  --ui-off-white: #f3f3f3;
  --ui-white: #ffffff;

  --main-font-family: "Space Grotesk", sans-serif;
}

:root {
  /* Base font size for the root element */
  font-size: 16px; /* Default to 16px */
}

@media (max-width: 1200px) {
  :root {
    font-size: 15px; /* Adjust for smaller screens */
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 14px; /* Adjust for smaller screens */
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 14px; /* Adjust for smaller screens */
  }
}

@media (max-width: 576px) {
  :root {
    font-size: 12px; /* Adjust for smaller screens */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--background-color);
  color: var(--text-primary-color);
  font-family: var(--main-font-family);
}

a {
  text-decoration: none;
}

.authContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.authInnerContainer {
  width: 30%;
  height: 50%;
  margin: auto;
}

.authInnerContainer > h1 {
  text-align: center;
  padding: 1em;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #333333;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.buttonLarge {
  display: flex;
  padding: clamp(0.5rem, 1.5vw, 1.5rem) clamp(0.0rem, 1.5vw, 1.5rem);
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--text-secondary-color);
  background: var(--ui-dark-grey, #272727);
  color: var(--text-primary-color);
  
}

.buttonText {
  border: none;
  background: none;
  color: var(--text-secondary-color);
  margin: 1rem;
}

