.landingPageContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);

  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  @media (max-width: 900px) {
    max-width: 95vw;
  }
}

.heroBanner {
  margin: 2rem 0rem;
}

.welcomeContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.welcomeLetter {
  color: var(--text-primary-color);
  font-family: "Replica Std";
  /* font-size: 48px; */
  font-size: clamp(1.5rem, 3vw, 3rem);

  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 57.6px */
}

.poweredByText {
  color: var(--UI-White, #fff);
  text-align: right;
  font-family: "Replica Std";
  /* font-size: 32px; */
  font-size: clamp(1rem, 2vw, 2rem);

  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
  letter-spacing: 0.96px;
}

.heroContainer {
  background-color: #fff;

  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}

.heroLetter {
  color: #1e1e1e;

  line-height: 120%; /* 86.4px */
  font-family: "Replica Std";
  font-weight: bold;
  /* font-size: 72px; */
  font-size: clamp(2.25rem, 4.5vw, 4.5rem);

  font-style: normal;
  text-align: center;
}