.appContainer {
  width: 100vw;
  height: 100vh;
  border: 5px dashed red;
  position: relative;
}

.stageContainer {
  border: 5px solid blue;
  position: relative;
  max-width: 100%;
  max-height: 100%;

  /* horizontal centering */
  margin: auto;

  /* vertical centering */
  top: 50%;
  transform: translateY(-50%);

  /* aspect-ratio 16x9 */
  aspect-ratio: 1.77777; /* 16:9 aspect ratio */
  overflow: hidden;
}
