.lobbyContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.onboardingContainer {
  width: 90%;
  max-width: 1200px;

  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  .header {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .questionsAndAvatarPreview {
    display: flex;
    flex-direction: row;
    // margin: 2rem;
    width: 100%;
    // padding: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-evenly;


    .questions {
      .nameInputAndLabel {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;

        input {
          height: 2rem;
          border-radius: 8px;
          border: none;
          padding-left: 1rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-size: 1rem;
        }
      }

      .colorPickerAndLabel {
        display: flex;
        flex-direction: column;

        .buttonContainer {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 1rem;
          margin-bottom: 1rem;

          button {
            width: 3rem;
            height: 1rem;
            background-color: "blue";
            border: none;
            border-radius: 0;
            margin-right: 1rem;
          }
        }
      }
    }


    .entranceButtons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .avatarPreviewContainer {
      overflow: hidden;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .svgAndVideo {
        width: 400px;
        height: 200px;
        position: relative;

        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display:flex;

        video {
          height: 200px;
          margin-left: auto;
          margin-right: auto;
        }

        svg {
          position: absolute;
          width: 200px;
          top: 0px;
          left: 100px;
        }
      }



      // svg {
      //   position: absolute;
      //   width: 200px;
      //   height: 200px;
      //   top: 0px;
      //   left: 0px;
      // }
      // .circleMask {
      //   position: absolute;
      //   width: 200px;
      //   height: 200px;
      //   top: 0;
      //   left: 0;
      //   pointer-events: none;

      //   svg {
      //     width: 100%;
      //     height: 100%;
      //   }
      // }
      .avatarPreviewAndLabel {
        text-align: center;
      }
    }
  }
}